/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #f1f1f1;
}

header .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

header .navbar ul {
    display: flex;
    list-style: none;
}

header.navbar ul li:hover {
    background-color: #f1f1f1;
}

header.navbar ul li a:hover {
    color: #4CAF50;
}

header.navbar ul li.active {
    background-color: #ddd;
    color: #000;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

header .navbar ul li {
    margin: 0 15px;
}

header .navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

header .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

header .menu-toggle span {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: #333;
}




/* Hero Section */
.hero {
    background-image: url('../images/cover.jpeg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero .cta-btn {
    background-color: #ff6347;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
}

.hero .cta-btn:hover {
    background-color: #e53e35;
}

/* Sections */
section {
    padding: 60px 20px;
    text-align: center;
}

/* Featured Products */
.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.product-item button {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product-item button:hover {
    background-color: #e53e35;
}



/* Testimonials */
.testimonials {
    background-color: #f1f1f1;
    padding: 40px 20px;
}

.testimonial-item {
    margin-bottom: 20px;
    font-style: italic;
}

.testimonial-item p {
    font-weight: bold;
}
       
   /* Style pour le container des cartes de produits */
.container-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Par défaut 4 cartes par ligne */
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    justify-items: center;
    gap: 10px;
}

/* Style pour les cartes de produits */
.card { 
    padding: 10px;
    width: 100%; /* La carte occupe toute la largeur de son conteneur */
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    gap: 50px;
    border-radius: 5px;
    margin-top: 100px;
    

}

/* Style pour les images des produits */

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

/* Style pour les cartes de produits lors du hover */
/* .card:hover {
    transform: scale(1.05);
} */

/* Style pour les cartes de produits lors du click */
.card:active {
    transform: scale(1);
}

/* Style pour les titres des produits */
.card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Style pour les descriptions de produits */
.card p {
    font-size: 1em;
    color: #555;
}

/* Style pour le lien Voir plus */
.card a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

    
    /* Style pour le lien de voir plus */
    a {
        text-decoration: none;
        color: #007bff;
        font-size: 1.1rem;
    }
    
    /* Style pour la section de recherche */
    section.search {
        margin-top: 30px;
    }
    
    /* Style pour le formulaire de recherche */
    form.search-form {
        display: flex;
        align-items: center;
    }
    
    /* Style pour le champ de recherche */
    input[type="text"] {
        padding: 10px;
        width: 200px;
        border-radius: 5px;
    }
    
    /* Style pour le bouton de recherche */
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Style pour la section de contact */
    section.contact {
        margin-top: 30px;
    }
    
    /* Style pour le formulaire de contact */
    section .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* Style pour les champs du formulaire de contact */
  section.wrapper  input[type="text"],
    input[type="email"],
    section.wrapper textarea {
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    /* Style pour le bouton de soumission du formulaire de contact */
    section.wrapper button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    /* style lors du survole du button */
    button[type="submit"]:hover {
        background-color: #0069d9;
    }

    /* Style pour le formulaire */
        /* style for register */
    
    /* styling for the form */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    }
    
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;

    }

    .form-container form .form-groupe {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        margin-right: 10px;

    }

    
    /* styling for form labels */
    label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
    }
    
    /* styling for form input fields */
    input[type="text"],
    input[type="email"],
    input[type="password"], 
    input[type="tel"], 
    input[type="date"], select {
    padding: 10px;
    margin-bottom: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    /* styling for the submit button */
    button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    button:hover{
        background-color: #45a049;
        transition: background-color 0.3s ease;

    }

    a {
        color:rgb(12, 12, 12);
        text-decoration: none;
    }
    
    /* styling for error messages */
    .error {
    color: red;
    font-size: 14px;
    }
    
    /* styling for success message */
    .success {
    color: green;
    font-size: 14px;
    }
        /* Style the footer */
    footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    color: #555;
}
            

 /* Login style */
    
    /* Style the form */
    
     .log_in {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
            margin-bottom: 40vh;  
            margin-top: 20px; 
        }
    
    .log_in  label {
            display: block;
            margin-bottom: 5px;
        }

     /* styling for form group elements */
    .log_in .form-group {
            display: flex;
            flex-direction: column;
            }
    
    .log_in input[type="text"],
       .log_in input[type="password"] {
            width: 350px;
            padding: 10px;
            border: none;
            border-radius: 3px;
            margin-bottom: 15px;
        }
    
   .log_in a {
        color:rgb(12, 12, 12);
        text-decoration: none;
    }

    .log_in p .forgot {
        margin-top: 10px;
        font-size: 14px;
        color: #d81515;
    }
    
    
    /* Add CSS styles for loading spinner */
    .loading {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    
    /* Style the loading spinner */
   .lds-spinner {
     display: inline-block;
     width: 64px;
     height: 64px;
     margin: 8px;
     position: relative;
     transform: translateZ(0);
     animation: lds-spinner 1.2s infinite linear;
   }
   @keyframes lds-spinner {
     0% { transform: rotate(0deg); }
     100% { transform: rotate(360deg); }
   }

        

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    width: 100%;  
}

footer .footer-links {
    margin-bottom: 10px;
}

footer .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .footer-links a:hover {
    text-decoration: underline;
}

footer .social-icons a {
    color: white;
    margin: 0 10px;
}
/* Responsive : Pour les téléphones, 1 carte par ligne */
@media (max-width: 480px) {
    /* style pour les cards sur petit écran */
    .container-card {
        grid-template-columns: 1fr; /* 1 carte par ligne */
    }
}

    /* Style the responsive layout */
    @media screen and (max-width: 600px) {
           /* styling for the form */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    }
    
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;

    }

    .form-container form .form-groupe {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        margin-right: 10px;

    }

    
    /* styling for form labels */
    label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
    }
    
    /* styling for form input fields */
    input[type="text"],
    input[type="email"],
    input[type="password"], 
    input[type="tel"], 
    input[type="date"], select {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
        /* form {
            width: 100%;
        } */
    }
    

/* Mobile Responsiveness */
@media (max-width: 768px) {
      /* Affiche le menu sous forme de colonne quand il est actif */
      header .navbar ul {
        display: none;
        flex-direction: column;
        padding: 10px;
        background-color: #fff;
        position: absolute;
        top: 70px;  /* Ajuste la position en fonction de la taille de ton header */
        left: 0;
        width: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    /* Affiche le menu quand on active la classe 'active' */
    header .navbar ul.active {
        display: flex;
    }

    /* Menu burger */
    header .menu-toggle {
        display: flex;
    }

    /* Animation du menu burger */
    header .menu-toggle.active span {
        background-color: #4CAF50; /* Change la couleur des barres */
    }
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    header .navbar ul {
        display: none;
    }

    header .menu-toggle {
        display: flex;
    }

    .menu-toggle.active + .navbar ul {
        display: flex;
        flex-direction: column;
    }

    /* style pour les cards */
    .container-card {
        grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne */
    }
}
    